# Project exclude paths
node_modules/
.env
package-lock.json
Nodejs.iml
.idea
phishshield-api/node_modules
phishshield-ui/node_modules
phishshield-api-nest
phishshield-ui/.env
phishshield-ml/tokenizer.json
phishshield-ml/tokenizer.pkl
phishshield-ml/voting_classifier.pkl
phishshield-ml/tokenizer2.pkl
phishshield-ml/phishing_detection_model.h5
phishshield-ml/phishing_model.h5